/node_modules
/vendor
/public/*
!/public/.gitkeep
.env
npm-debug.log

# OS junk
.DS_Store
Thumbs.db

# Editor folders
.idea/
.vscode/

# Local WordPress caches
wp-content/cache/

# Config files
vite.config.js
package-lock.json
package.json